.Header {
  display: flex;
  flex-direction: row;
  height: 5rem;
}

.header-titles {
  width: 34%;
  padding-left: 2em;
}

.header-h1, .header-h2:hover {
  cursor : pointer;
}

.header-h1 {
  color: var(--primary-color);
}

.header-h2 {
  color:var(--secondary-color);
}

.tabs {
  display: flex;
  font-display: row;
  width: 30%;
  align-items: center;
  justify-content: space-around;
}

.single-tab:hover {
  cursor: pointer;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  justify-content: space-around;
}
.social-media-item {
  display: flex;
  flex-direction: column;
}

.social-media-item:hover {
  cursor: pointer;
}

.header-img__git {
  height: 3em;
  width: 3em;
  padding-top: 0.2em;
}

.theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
